<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <a href="/lobby">Join a game</a>
        <a href="/logout">Logout</a>

        <h1>Hello, <%= user.charAt(0).toUpperCase() + user.slice(1) %>!</h1>

        <h1>WebSocket Test</h1>
        <div id="messages"></div>
        <input type="text" id="messageInput" placeholder="Type a message">
        <button id="sendMessage">Send</button>

        <script>
            const socket = io();
            sendBtn = document.getElementById('sendMessage');

            // listen for messages from server
            socket.on('message', (msg) => {
            const messagesDiv = document.getElementById('messages');
            const newMessage = document.createElement('p');
            newMessage.textContent = msg;
            messagesDiv.appendChild(newMessage);
            });

            // emit chat messages sent by clients
            sendBtn.addEventListener('click', () => {
                let messageInput = document.getElementById('messageInput').value;
                socket.emit('chatMessage', messageInput);
                messageInput = '';
            });

            // listen for chat messages (from server)
            socket.on('chatMessage', (message) => {
                const messagesDiv = document.getElementById('messages');
                const newMessage = document.createElement('p');
                newMessage.textContent = message;
                messagesDiv.appendChild(newMessage);
            });
        </script>

    </body>

</html>

